# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
_minted-*
latex/build/

# Simulación C — binarios compilados
sim/sim_clock
sim/sim_spinlock

# Editor
.vscode/
*.swp
*.swo
.idea/

# OS
.DS_Store
Thumbs.db
